.ticket{
    cursor:pointer;
}

.system-response{
    background-color: rgba(212, 205, 205, 0.527) !important;
    color:rgb(0, 0, 0) !important;
    box-shadow: white !important;
}

.login-card {
    max-width: 550px;
    margin: 200px auto; /* Zwiększono margines górny do 200px */
}